
const express = require('express')
const app = express()
  .set('json spaces', 2)
  .use(express.json())
  .set('port', process.env.PORT || 5555)
  .get('/', (req, res) => (res.type('html').status(200).end(`<h1>Check it</h1>`)))
  .get('/json', (req, res) => res.json({ ok: 'ok' }))
  .all('/echo/:foo?/:bar?', (req, res) => {
    const { method, ip, params, headers, query, body, signedCookies, cookies, session } = req
    res.json({ method, ip, params, headers, query, body, signedCookies, cookies, session })
  })


<%- include(`js/middle/middle.js.ejs`)%>

<%if(args.cors){%>
<%- include(`js/middle/cors.js.ejs`)%>
<%}%>

<%if (args.logs) {%>
<%- include(`js/errors/logs.js.ejs`)%>
<%}%>

<%if (!args.noErrors) {%>
<%- include(`js/errors/errors.js.ejs`)%>
<%}%>


<%if (args.https) {%>
 <%- include(`js/https/https.js.ejs`)%>
<%} else {%>
const serv = require('http').createServer(app);
<%}%>
serv.listen(app.get('port'),
  () => console.log(`listen http://localhost:${JSON.stringify(serv.address().port)}`)
);

<%if (args.test) {%>
 <%- include(`js/test/test.js.ejs`)%>
<%}%>

module.exports = app;